.cta {
  position: absolute;
  width: calc(100% - #{$padding * 2});
  bottom: $padding;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button.capture {
    width: 30vw;
    display: block;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: #{$padding / 2};

    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }

}
